.landing-sec {
    .text-aera {
        .btn1 {
            background-color: rgba(4, 5, 5, 0.927);
            width: 156px;
            color: $topbar-color;
            font-size: 15px;
            font-weight: 600;
            border-radius: 15px;
            
            
        
        }
        .b1tn234{
          
            width: 156px;
            color: $button-color;
            font-size: 15px;
            font-weight: 600;
            border-radius: 15px;
            border: 2px solid black;
            &:hover{
                background-color: $button-color;
                color: $topbar-color;
            }
          }
  

    

    .link2 {
      margin-right: 10px;
    }
  }
}
