header{

  .navbar .image-main{
    max-width: 70px;
  }
   
    .navbar-main{
      margin-left: 457px;

      ul{
        margin: 0 -241px;
      }

      .row{
        margin-left: 15px;
        .link1{
          margin: 0 6px;
          font-size: 21px;
        }
       }

       .nav-item{
        // margin: 0 20px;
        margin: 0 9px;
       }
    }
   
 

}




      