.landing-sec{
    .text1{
        margin-top: 49px;
    }
    .text-aera{
        // margin-left: -122px;
    font-family: "Inter",Sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 52px;
    margin-top: 57px;
    }
}