.SHOP-CATEGORIES-sec {
    
    .shop-image-sec{
       margin-top: 80px;
    }


    .row1 {
        
        .image1{
            padding-left: 130px;
        }
    }
    .row2 {
        padding-top: 30px;
        .image1{
            padding-left: 130px;
        }
    }
    
    
}