.topbar {
  background-color: rgba(0, 0, 0, 1);
  padding: 7px 0;
  color: #fff;

  .wostify-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: medium;
    .topbar-item{
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  }
}
